*{margin: 0;padding: 0;}
html{
    background:linear-gradient(wheat,palevioletred);
    height: 100%;
}
.cube-wrap{
    width: 300px;
    height: 300px;
    margin: 200px auto;
    perspective: 800px;/*视线距离=景深*/
    transform-origin: center center;
}
.cube{
    width: 300px;
    height: 300px;
    transform-style:preserve-3d;
    transform-origin: center center;
    transition: all 10s linear;
}
.big-box{
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0.8;
    transform-origin: center center;
}
.shang{
    transform:rotateX(90deg) translateZ(150px);
    background-image:url("../imgs/1.jpg");
    background-size: 300px 300px;
    transition-duration:2s;
}
.xia{
    transform:rotateX(90deg) translateZ(-150px);
    background: url("../imgs/2.jpg");
    background-size:300px 300px ;
    transition-duration:2s;

}
.you{
    transform:rotateY(90deg) translateZ(-150px);
    background: url("../imgs/3.jpg");
    background-size:300px 300px ;
    transition-duration:2s;

}
.zuo{
    transform:rotateY(90deg) translateZ(150px);
    background: url("../imgs/4.jpg");
    background-size:300px 300px ;
    transition-duration:2s;

}
.qian{
    transform: translateZ(150px);
    background: url("../imgs/5.jpg");
    background-size:300px 300px ;
    transition-duration:2s;

}
.hou{
    transform: translateZ(-150px);
    background: url("../imgs/6.jpg");
    background-size:300px 300px ;
    transition-duration:2s;

}
.g-box{
    position: absolute;
    width: 150px;
    height: 150px;
    top:75px;
    left:75px;
    background:palevioletred;
    transform-origin: center center;
}
.s{
    transform:rotateX(90deg) translateZ(60px);
    -ms-transform:rotateX(90deg) translateZ(60px);
    background: url("../imgs/11.jpg");
    background-size:150px 150px ;


}
.x{
    transform:rotateX(90deg) translateZ(-60px);
    -ms-transform:rotateX(90deg) translateZ(-60px);
    background: url("../imgs/7.jpg");
    background-size:150px 150px ;
}
.y{
    transform:rotateY(90deg) translateZ(-60px);
    -ms-transform:rotateY(90deg) translateZ(-60px);
    background: url("../imgs/9.jpg");
    background-size:150px 150px ;
}
.z{
    transform:rotateY(90deg) translateZ(60px);
    -ms-transform:rotateY(90deg) translateZ(60px);
    background: url("../imgs/10.jpg");
    background-size:150px 150px ;
}
.q{
    transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    background: url("../imgs/8.jpg");
    background-size:150px 150px ;
}
.h{
    transform: translateZ(-60px);
    -ms-transform: translateZ(-60px);
    background: url("../imgs/12.jpg");
    background-size:150px 150px ;
}
.cube:hover{
    transform:rotateY(360deg) rotateX(360deg);
    -ms-transform:rotateY(360deg) rotateX(360deg);
    transition:10s;
}
.cube:hover .shang{
    transform:rotateX(90deg) translateZ(220px);
    -ms-transform:rotateX(90deg) translateZ(220px);
    transition: 2s;
}
.cube:hover  .xia{
    transform:rotateX(90deg) translateZ(-220px);

    -ms-transform:rotateX(90deg) translateZ(-220px);
    transition: 2s ;
}
.cube:hover .you{
    -ms-transform:rotateY(90deg) translateZ(-220px);
    transform:rotateY(90deg) translateZ(-220px);
    transition: 2s ;
}
.cube:hover .zuo{
    -ms-transform:rotateY(90deg) translateZ(220px);
    transform:rotateY(90deg) translateZ(220px);
    transition: 2s ;
}
.cube:hover .qian{
    -ms-transform: translateZ(220px);
    transform: translateZ(220px);

    transition: 2s ;
}
.cube:hover .hou {
    -ms-transform: translateZ(-220px);
    transform: translateZ(-220px);

    transition: 2s ;
}


