header{
    height:12rem;
    width: 100%;
    background:url("../img/header.png");
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.meituan-logo{
    width: 5rem;
    height: 5rem;
    background: url("../img/logo.png") no-repeat;
    background-size: cover;
}
.meituan-text {
    margin-top: 1rem;
}